* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

.app {
  padding: 36px;
}

.field {
  display: flex;
  align-items: center;
}

.field svg {
  margin-left: 0.5rem;
  vertical-align: top;
}
